*.o
/fd
/Makefile
/Makefile.tmp
/mkmf.sed
/mkmfsed
/hmachine.h
/hmachine.sed
/kanjicnv
/mkcat
/mkdict
/mkfuncno
/mkkanji
/mktankan
/mkunitbl
/kanji.h
/funcno.h
/unitbl.c
/_fd-cat.C
/_fd-cat.ja
/fd-cat.C
/fd-cat.ja
/fd-dict.tbl
/fd-dict.txt
/fd-unicd.tbl
/fd.1
/object.arg
/config.h
